.infinite-scroll-component::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.infinite-scroll-component::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}
.infinite-scroll-component::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0);
    visibility:hidden;
}
.infinite-scroll-component:hover::-webkit-scrollbar-thumb {
    visibility:hidden;
    background: rgba(0,0,0,0);
}
.infinite-scroll-component {
    overflow: auto;
    // width: 1200px;
    // display: flex;
    // flex-direction: column;
    // align-items: ce
}
