.EmbeddedTweet::after
{
  max-width: 600;
  min-width: 600;
  display: none;
  font-family: 'Gilroy', sans-serif !important;
  border-color: '#fefdd3' !important;
}

.EmbeddedTweet-tweet::after
{
  display: none !important;
  font-family: 'Gilroy', sans-serif !important;
}

#twitter-widget
{
  font-family: 'Gilroy', sans-serif !important;
}

.Tweet-text:after {
  font-family: 'Gilroy', sans-serif !important;
  border-color: '#fefdd3' !important;
}

.twitter-tweet.twitter-tweet-rendered
{
  display: 'none';
  font: normal normal 14px/1.4 'Gilroy', sans-serif !important;
  border-color: '#fefdd3' !important;
  background: '#fefdd3' !important;
  zoom: '1';
}
.twitter-tweet.twitter-tweet-rendered:after
{
  display: none;
  font-family: 'Gilroy', sans-serif !important;
  border-color: '#fefdd3';
}

.div
{
  font-family: 'Gilroy', sans-serif !important;
}

.timeline-Widget
{
  font: normal normal 14px/1.4 Gilroy,sans-serif !important;
  color: '#fedefe';
}

.twitter-timeline
{
  font: normal normal 14px/1.4 Gilroy,sans-serif;
}

a.CallToAction
{
  display: none;
  opacity: 0;
}

.SandboxRoot.env-bp-350
{
  display: none !important;
}

#SandboxRoot
{
  font: 'normal normal 14px/1.4 Gilroy,sans-serif';
}

.Tweet.h-entry.js-tweetIdInfo.subject.expanded
{
  display: inline-block;
  font-family: "Gilroy", sans-serif !important;
  font-size: 50px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

.twitter-timeline {
  max-width: 20%;
  max-height: 1000px;
}
.fa {
  font-size: 25px;
  color: #FFFFFF;
}
.panel-title {
 font-size: 25px;
 color: #FFFFFF;
 font-family: 'Gilroy', sans-serif;
}
.panel-heading {
 background-color: #1da1f2 !important;
 color: #1da1f2 !important;
}
.panel {
 margin-top: 25px;
}
.h1 {
  font-family: Gilroy;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Gilroy", Roboto, "Segoe UI", Calibri, sans-serif !important;
  font-size: 50px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
